
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
main {
width: 70vw;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.cadastro h3 {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}
.pagamentos h3 {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;

}
main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main form label {
    display: flex;
    flex-direction: column;
}
main form label span {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

main form input {
    background: #fff;
    width: 300px;
    height: 25px;
    padding: 0 0.5rem;
    margin-top: 0.8rem;
    outline: none;
    color: rgba(166, 166, 166);
    font-size: 0.9rem;
    border: 1px solid #040B18;
    border-radius: 5px;
}

main form input [type="submit"] {
    cursor: pointer;
    width: 50%;
    margin-top: 1rem;
    border: none;
    border-radius: 32px;
    background: #6C63FF;
    color: white;
    font-size: 0.8rem;
    transition: all .3s ease-in-out;
}
.cadastro {
    background-color: rgba(166, 166, 166);
    border-radius: 10px;
    padding: 20px;
    width: min-content;
    align-items: center;
    color: #333;
}

.pagamentos{
    background-color: rgba(166, 166, 166);
    border-radius: 10px;
    padding: 20px;
    width: max-content;
    align-items: center;
    color: #333;

    position: absolute;
    top: 15%;
    left: 53%;
    border-radius: 10px;
}
